/* Mixins */

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
     -moz-box-sizing: $box-model;
          box-sizing: $box-model;
}

@mixin text-size-adjust($size) {
	-webkit-text-size-adjust: $size;
	-ms-text-size-adjust: $size;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius; 
  -moz-border-radius: $radius; 
  border-radius: $radius; 
}

@mixin clear() {

	float: left;
	width: 100%;

}

@mixin input() {

	width: 100%;
	margin: 5px 0 0 0;
	padding: 12px 10px;
	background: #f4f4f4;
	border-radius: 3px;
	border: 1px solid #EDEDED;
	font-weight: 500;

	&:focus, &.complete {

		border: 1px solid lighten( $secondaryColour, 30% );

	}

	&.wpcf7-not-valid {

		border: 1px solid #EC9B9B;
		box-shadow: 0 0 3px #EAB9B9;

	}

}

@mixin button( $align: center, $bg: $secondaryColour ) {

	padding: 0 15px;
	background: $bg;
	text-align: $align;
	color: #fff;
	font-size: 1.4em;
	font-weight: 900;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
	height: 45px;
	line-height: 45px;

	&:after {
	
		float: right;
		font-family: Flaticon;
		height: 40px;
		line-height: 41px;
		width: 40px;
		text-align: center;
		font-size: 1.5em;
		font-weight: 900;
		background: darken($bg, 10%);
		margin-left: 10px;
		content: '\e007';
		
	}

	&:hover {

		background: darken($bg, 10%);

		&:after {

			background: darken($bg, 15%);
		
		}

	}

	&:visited {

		color: #fff;

	}

}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin gradient( $topcolour, $botcolour, $start: 0%, $stop: 100% ) {
	background: $topcolour;
	background: -moz-linear-gradient(top, $topcolour $start, $botcolour $stop);
	background: -webkit-gradient(linear, left top, left bottom, color-stop($start,$topcolour), color-stop($stop,$botcolour));
	background: -webkit-linear-gradient(top, $topcolour $start,$botcolour $stop);
	background: -o-linear-gradient(top, $topcolour $start,$botcolour $stop);
	background: -ms-linear-gradient(top, $topcolour $start,$botcolour $stop);
	background: linear-gradient(to bottom, $topcolour $start,$botcolour $stop);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#{$topcolour}', endColorstr='#{$botcolour}');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$topcolour}', endColorstr='#{$botcolour}')";
}

@mixin absolute-position( $top: false, $right: false, $bottom: false, $left: false ) {
	@if $top {
		top: $top;
	}
	@if $right {
		right: $right;
	}
	@if $bottom {
		bottom: $bottom;
	}
	@if $left {
		left: $left;
	}
	position: absolute;
}

@mixin bp($breakpoint) {
    @media only screen and (min-width: $breakpoint + px ) { 
    	@content; 
    }
}